body { background-image: linear-gradient(to right,blue,white); font-style: italic;
		margin: 0%; padding: 0%;
	/*background-image: url(../imag/jesus-2.jpg);
 	background-repeat: no-repeat; 
 	background-size:cover;
 	background-attachment: fixed;
 	font-family: "Sofia", sans-serif;*/
 	/*font-size: 100px;*/ }

button {color: white; text-align: center; display: inline-block; 
	background-color: grey;box-sizing: content-box;
	font-size: 18px;
	margin: 5px;
	border-radius: 5px;
	border: 8px outset grey; }

button a {color:white; text-decoration: none;}

div button.fondo {color: white; text-align: center; display: inline-block; 
	background-color: blue;
	box-sizing: content-box;
	font-size: 18px;
	margin: 10px;
	border-radius: 2px;
	border: 5px outset grey; }

span {color: yellow; font-size: 22px;}

div .zero, .one, .one_1 {
	display: inline-block; padding-left: 50px;
}

div .zero, .two, .two_1 {
	display: inline-block; padding-left: 50px;
}

div .zero, .three, .three_1 {
	display: inline-block; padding-left: 50px;
}

div .zero, .four, .four_1 {
	display: inline-block; padding-left: 50px;
}
p { color: yellow; font-size: 25px; float: center; }

b { font-size: 30px;}

.uno { width: 310px; height: 310px; float: left;
	padding-top: 0em; padding-right: 0px; padding-top: 0em;padding-bottom: 0em;
	margin-left: 890px; margin-top: 100px;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	filter: drop-shadow(0px 5px 10px cyan);
	animation: rotar 9s linear infinite;
		 }
		 
		 .logo:hover {
			 cursor: pointer;
		 }
		 
		 @keyframes rotar {
			 from {
				 transform: rotateY(0deg);
			 }
		 
			 to {
				 transform: rotateY(-360deg);
			 }
		 }
		 

.dos { /*border:2px solid orange;*/ padding: 5px; float: left;
	width: 90px; height: 90px; border-top-left-radius: 100%; border-top-right-radius: 100%;object-fit: cover; }

.tres { /*border:2px solid orange;*/ padding: 5px; float: left;
	width: 90px; height: 90px; border-top-left-radius: 100%; border-top-right-radius: 100%; object-fit: cover; }

.cuatro { /*border:2px solid orange;*/ padding: 5px; float: left;
	width: 90px; height: 90px; border-top-left-radius: 100%; border-top-right-radius: 100%; object-fit: cover; }

.cinco { /*border:2px solid orange;*/ padding: 5px; float: left;
	width: 90px; height: 90px; border-top-left-radius: 100%; border-top-right-radius: 100%; object-fit: cover; }



